Source: ros-kinetic-kobuki-softapps
Section: misc
Priority: extra
Maintainer: Jihoon Lee <jihoonlee.in@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-kobuki-softapps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-fake-localization, ros-kinetic-kobuki-softnode, ros-kinetic-map-server, ros-kinetic-move-base, ros-kinetic-rviz
Description: The kobuki_softapps package
